// Color Variables
$prima-gold : #a6820d;
$prima-yellow : #a6820d;
$prima-orange : #ff8700;
//$primary-color: #ffbc3b;
$primary-color: $prima-orange;

//$secondary-color: #1a1a37;
$secondary-color: #000;
$text-color: #5c5c77;
$text-color-light: #8585a4;
//$text-color-dark: #1e1e4b;
$text-color-dark: #000;
$body-color: #fff;
$border-color: #ededf1;
$black: #000;
$white: #fff;
$light: #f8f9fe;
$gray: #f8f8f8;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'futura-bold';
$icon-font: 'themify';
